html, body {
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.augstums {
    min-height: 80vh;
}

/* Modālie stili */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity var(--transition-speed) ease-in-out, visibility var(--transition-speed) ease-in-out;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background: var(--secondary-color);
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    position: relative;
    box-shadow: 0 8px 20px var(--shadow-color);
    border: 1px solid var(--muted-color);
    animation: zoomIn 0.3s ease;
    scale: 0.9;
}

.modal-content h2 {
    color: var(--accent-color);
    font-size: 22px;
    margin-bottom: 15px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: var(--accent-color);
    transition: color var(--transition-speed), transform var(--transition-speed);
}

.close:hover {
    color: var(--hover-color);
    transform: rotate(90deg);
}

.modal-content select,
.modal-content input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid var(--muted-color);
    border-radius: 6px;
    font-size: 16px;
    background: var(--primary-color);
    color: var(--text-color);
    transition: border-color var(--transition-speed) ease;
}

.modal-content select:focus,
.modal-content input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.modal-content .btn {
    background: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background var(--transition-speed), transform 0.2s ease;
    width: 100%;
    box-shadow: 0 4px 10px var(--shadow-color);
}

.modal-content .btn:hover {
    background: var(--hover-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

/* Galvenais konteiners */
main .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Vispārīgā poga */
.btn {
    display: inline-block;
    background: var(--accent-color);
    color: var(--primary-color);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 15px;
    transition: background var(--transition-speed), transform 0.2s ease, box-shadow var(--transition-speed);
    cursor: pointer;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.btn i {
    font-weight: 900;
}

#cvButton {
    width: 90%;
}

.btn:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .btn {
        font-size: 1rem;
        padding: 12px 15px;
    }
}

/* CV Modāls */
#cvModal .modal {
    display: flex;
    background-color: rgba(0, 0, 0, 0.85);
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}


#cvModal .modal-content {
    background-color: var(--secondary-color);
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    padding: 30px;
    box-shadow: 0 6px 20px var(--shadow-color);
    overflow-y: auto;
    max-height: 90vh;
    scale: 0.8;
}

#cvModal h2 {
    color: var(--accent-color);
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#cvModal .close {
    position: absolute;
    top: 10px;
    font-size: 30px;
    color: var(--accent-color);
    cursor: pointer;
    right: 20px;
}

#cvModal label {
    display: block;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 5px;
    font-weight: 600;
}

#cvModal input[type="text"],
#cvModal input[type="email"],
#cvModal input[type="tel"],
#cvModal input[type="date"],
#cvModal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--muted-color);
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
    transition: all var(--transition-speed) ease;
    resize: none;
}

#cvModal input:focus,
#cvModal textarea:focus {
    border-color: var(--accent-color);
    background-color: var(--hover-color);
    color: var(--primary-color);
    outline: none;
}

#cvModal textarea {
    min-height: 120px;
}

#cvModal #saveCV {
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-size: 18px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    transition: all var(--transition-speed) ease;
    box-shadow: 0 4px 12px var(--shadow-color);
}

#cvModal #saveCV:disabled {
    background-color: var(--muted-color);
    cursor: not-allowed;
}

#cvModal #cvFields {
    display: flex;
    flex-direction: column;
}

#cvModal #cvFields label {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    label,
    input,
    textarea {
        font-size: 14px;
    }

    #saveCV {
        font-size: 16px;
        padding: 10px 20px;
    }
}

/* CV displejs */
.Pazinojums {
    font-size: 1.2rem;
    height: 60px;
    color: var(--accent-color);
    background-color: #f44336;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 35%;
    margin-top: 20px;
    font-weight: 600;
}

.cv-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    min-height: 34rem;
}

.cv-box {
    background: var(--secondary-color);
    border-radius: 12px;
    box-shadow: 0 0px 5px var(--shadow-color);
    text-align: center;
    padding: 15px;
    width: 250px;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
    height: 18rem;
    color: var(--text-color);
    animation: fadeIn 0.5s ease-in-out;
}

.cv-box:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 20px var(--shadow-color);
}

.cv-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.cv-language {
    font-size: 28px;
    font-weight: bold;
    color: var(--accent-color);
    margin-top: 2px;
    text-transform: uppercase;
}

/* Animācijas */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
