.notification-header{
    position: relative;
    top: 1.5rem;
}

.notification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background-color: var(--background-color);
}

.notification {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-color);
    border-left: 4px solid var(--accent-color);
    border-radius: 12px;
    padding: 1rem 1.5rem;
    box-shadow: 0 4px 10px var(--shadow-color);
    color: var(--text-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.notification:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px var(--shadow-color);
}

.notification .info {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.notification .nosaukumuSakartojums {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 335px;
}

.notification .nosaukumuSakartojums strong {
    word-break: break-word;
    font-size: 1rem;
    color: var(--white);
}

.notification .nosaukumuSakartojums span {
    color: var(--white);
}

.notification .sent-status{
    display: flex;
    flex-direction: row;
}

.notification .sent-status .status {
    color: var(--white);
    display: flex;
    align-items: center;
}

.notification .status{
    color: var(--white);
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.notification img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--gray);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.notification .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notification .text p {
    margin: 0;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.accept-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.accept-btn:hover {
    background-color: #218838;
}


.notification .delete-btn {
    background-color: #f44336;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 5px;
    scale: 0.8;
}

.notification .delete-btn:hover {
    background-color: #b9170b;
}

.notification button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.notification button:hover {
    background-color: #52e0c4;
}

.no-notifications {
    font-size: 1.5rem;
    color: var(--white);
    background-color: #f44336;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 35%;
    margin-top: 20px;
    font-weight: 600;
}
